### 인구구조가 비슷한 지역 찾기  (데이터 전처리)
- 교재: 모두의 데이터 분석 with 파이썬 P268

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### 1. 데이터 읽어 오기 (age.csv) => 데이터 전처리
1. 데이터 읽어 와서 '행정구역"으로 인덱스 재설정
2. column명 바꾸기
3. 전체 데이터를 총 인구수로 나누어 비율로 변환
4. 총인구수와 연령구간인구수 삭제

#### 1-1 데이터 읽어와서 '행정구역'으로 인덱스 재설정

In [2]:
### 1. 데이터 읽어 index 재설정
df=pd.read_csv('./age.csv', encoding='cp949')
#display(df.head(3))
df=df.set_index('행정구역')
display(df.head(3))

,2019년02월_계_총인구수,2019년02월_계_연령구간인구수,2019년02월_계_0세,2019년02월_계_1세,2019년02월_계_2세,2019년02월_계_3세,2019년02월_계_4세,2019년02월_계_5세,2019년02월_계_6세,2019년02월_계_7세,...,2019년02월_계_91세,2019년02월_계_92세,2019년02월_계_93세,2019년02월_계_94세,2019년02월_계_95세,2019년02월_계_96세,2019년02월_계_97세,2019년02월_계_98세,2019년02월_계_99세,2019년02월_계_100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),"9,770,638","9,770,638","53,738","59,599","65,815","70,726","70,037","69,000","76,377","73,745",...,"7,199","5,374","3,972","2,927","2,813","2,260","1,565","1,180",880,"5,932"
서울특별시 종로구 (1111000000),"152,880","152,880",593,683,775,874,852,863,"1,023",904,...,163,132,112,79,69,81,53,40,39,236
서울특별시 종로구 청운효자동(1111051500),"13,010","13,010",66,79,72,98,98,94,108,109,...,9,8,14,6,7,9,4,2,2,16

####  [참고] 데이터 탐색
1.  %pwd : 현재 작업폴더 확인:
2. ls :현재 폴더 내용확인
3. df.shape : (데이터 규모확인)데이터프레임의 행,열 갯수 확인 
4. df.head() : 위에서 5개 데이터 보여줌 df.head(10)-> 위에서 10개 보여줌
5. df.tail()  : 아래의 5개 데이터 보여줌 df.tail10)->아래에서 10개 보여줌
6. df.sample(5) : 랜덤으로 5개 데이터를 보여줌
8. df.info() : 데이터프레임의 각 열에 대한 데이터 형의 정보를 확인할 수 있다.
9. df.dtypes :데이터프레임의 각 열에 대한 데이터 형만 확인할 수 있다.
10. df.describe() : 숫자 데이터를 기술통계로 요약할 수 있음(갯수,평균,표춘편차,최소값, 최대값, 사분의 수 확인)
11. df.describe(include=[object]) #object값을 요약해서 본다.
12. df.열이름.vlaue_counts() : 열이름별로 데이터가 몇 개 있는지 확인함

13. df.isnull().sum() : 결측치 어느 정도 있는지 확인함

In [3]:
# 데이터프레임 기본 정보 확인
df.shape

(3841, 103)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3841 entries, 서울특별시  (1100000000) to 제주특별자치도 서귀포시 예래동(5013062000)
Columns: 103 entries, 2019년02월_계_총인구수 to 2019년02월_계_100세 이상
dtypes: int64(1), object(102)
memory usage: 3.0+ MB

In [5]:
df.dtypes

2019년02월_계_총인구수       object
2019년02월_계_연령구간인구수    object
2019년02월_계_0세         object
2019년02월_계_1세         object
2019년02월_계_2세         object
                       ...
2019년02월_계_96세        object
2019년02월_계_97세        object
2019년02월_계_98세        object
2019년02월_계_99세         int64
2019년02월_계_100세 이상    object
Length: 103, dtype: object

In [6]:
df.describe()

       2019년02월_계_99세
count     3841.000000
mean         3.143713
std         22.191007
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max        880.000000

In [7]:
df.isnull().sum()

2019년02월_계_총인구수       0
2019년02월_계_연령구간인구수    0
2019년02월_계_0세         0
2019년02월_계_1세         0
2019년02월_계_2세         0
                     ..
2019년02월_계_96세        0
2019년02월_계_97세        0
2019년02월_계_98세        0
2019년02월_계_99세        0
2019년02월_계_100세 이상    0
Length: 103, dtype: int64

In [8]:
# null이 포함된 모든 열 표시

# [방법1]
# for i,c in enumerate(df.isnull().sum()):
#     print(df.columns[i],c)f

# [방법2]
for i, c in enumerate(df.isnull().sum()):
    if c!=0:
        print(df.columns[i])

####  1-2. column명 바꾸기

In [9]:
# culumn 명 확인
df.columns
#display(df.head(3))

Index(['2019년02월_계_총인구수', '2019년02월_계_연령구간인구수', '2019년02월_계_0세',
       '2019년02월_계_1세', '2019년02월_계_2세', '2019년02월_계_3세', '2019년02월_계_4세',
       '2019년02월_계_5세', '2019년02월_계_6세', '2019년02월_계_7세',
       ...
       '2019년02월_계_91세', '2019년02월_계_92세', '2019년02월_계_93세', '2019년02월_계_94세',
       '2019년02월_계_95세', '2019년02월_계_96세', '2019년02월_계_97세', '2019년02월_계_98세',
       '2019년02월_계_99세', '2019년02월_계_100세 이상'],
      dtype='object', length=103)

In [10]:
# 컬럼명을 '_'로 나눈훈 마지막 문자만 컬럼명으로 사용하기 (예: '2019년02월_계_총인구수' => '총인구수')
# 문자열  split()함수 사용
df.columns=[i.split('_')[-1] for i in df.columns]
df.head(3)

,총인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,6세,7세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),"9,770,638","9,770,638","53,738","59,599","65,815","70,726","70,037","69,000","76,377","73,745",...,"7,199","5,374","3,972","2,927","2,813","2,260","1,565","1,180",880,"5,932"
서울특별시 종로구 (1111000000),"152,880","152,880",593,683,775,874,852,863,"1,023",904,...,163,132,112,79,69,81,53,40,39,236
서울특별시 종로구 청운효자동(1111051500),"13,010","13,010",66,79,72,98,98,94,108,109,...,9,8,14,6,7,9,4,2,2,16

#### 1-3 전체 데이터를 총 인구수로 나누어 비율로 변환
1. 전체 데이터를 숫자로 바꾸기
2. 전체 데이터를 총 인구수(df['총인구수']) 나눔

* 1. 전체 데이터를 숫자로 바꾸기

In [11]:
# 전체 데이터를 숫자로 바꾸기(1)

#(replace함수 활용)  => (, 없애기 예:53,738 => 53738) 

# 방법1
df_1=df.copy()

for i in df_1:
    try:
        df_1[i]=df_1[i].str.replace(',','')
        df_1[i]=df_1[i].astype('int64')
    except:
        pass
df_1.head(3)

,총인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,6세,7세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),9770638,9770638,53738,59599,65815,70726,70037,69000,76377,73745,...,7199,5374,3972,2927,2813,2260,1565,1180,880,5932
서울특별시 종로구 (1111000000),152880,152880,593,683,775,874,852,863,1023,904,...,163,132,112,79,69,81,53,40,39,236
서울특별시 종로구 청운효자동(1111051500),13010,13010,66,79,72,98,98,94,108,109,...,9,8,14,6,7,9,4,2,2,16

In [12]:
# 전체 데이터를 숫자로 바꾸기(3)
# 방법2 : for문 활용
df_1=df.copy()
for i in df_1:
    df_1[i]=[int(str(j).replace(',','')) for j in df_1[i]]

df_1.head(3)

,총인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,6세,7세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),9770638,9770638,53738,59599,65815,70726,70037,69000,76377,73745,...,7199,5374,3972,2927,2813,2260,1565,1180,880,5932
서울특별시 종로구 (1111000000),152880,152880,593,683,775,874,852,863,1023,904,...,163,132,112,79,69,81,53,40,39,236
서울특별시 종로구 청운효자동(1111051500),13010,13010,66,79,72,98,98,94,108,109,...,9,8,14,6,7,9,4,2,2,16

In [13]:
# 전체 데이터를 숫자로 바꾸기(3)
#방법3 :함수 정의, apply함수 활용

def stoi(x):
    res=[int(str(i).replace(',','')) for i in x]
    return res
df_1=df_1.apply(stoi)
df_1.head(3)

,총인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,6세,7세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),9770638,9770638,53738,59599,65815,70726,70037,69000,76377,73745,...,7199,5374,3972,2927,2813,2260,1565,1180,880,5932
서울특별시 종로구 (1111000000),152880,152880,593,683,775,874,852,863,1023,904,...,163,132,112,79,69,81,53,40,39,236
서울특별시 종로구 청운효자동(1111051500),13010,13010,66,79,72,98,98,94,108,109,...,9,8,14,6,7,9,4,2,2,16

In [14]:
# 전체 데이터를 숫자로 바꾸기(4)
#방법3 :apply, lambda 함수 활용
df_1=df.copy()
df_1=df_1.apply(lambda x: [int(str(i).replace(',','')) for i in x])

df_1.head(3)

,총인구수,연령구간인구수,0세,1세,2세,3세,4세,5세,6세,7세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),9770638,9770638,53738,59599,65815,70726,70037,69000,76377,73745,...,7199,5374,3972,2927,2813,2260,1565,1180,880,5932
서울특별시 종로구 (1111000000),152880,152880,593,683,775,874,852,863,1023,904,...,163,132,112,79,69,81,53,40,39,236
서울특별시 종로구 청운효자동(1111051500),13010,13010,66,79,72,98,98,94,108,109,...,9,8,14,6,7,9,4,2,2,16

* 3) 전체 데이터를 총 인구수(df['총인구수']) 나눔
* 4) 총인구수와 연령구간인구수 삭제

In [15]:
df_1=df_1.div(df_1['총인구수'], axis=0)

In [16]:
#총인구수, 연령구간인구수 삭제
# del df_1['총인구수'], df_1['연령구간인구수'] 
df_1=df_1.iloc[:,2:]
df_1.head(3)

,0세,1세,2세,3세,4세,5세,6세,7세,8세,9세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),0.005500,0.006100,0.006736,0.007239,0.007168,0.007062,0.007817,0.007548,0.007741,0.007184,...,0.000737,0.000550,0.000407,0.000300,0.000288,0.000231,0.000160,0.000121,0.000090,0.000607
서울특별시 종로구 (1111000000),0.003879,0.004468,0.005069,0.005717,0.005573,0.005645,0.006692,0.005913,0.006620,0.006037,...,0.001066,0.000863,0.000733,0.000517,0.000451,0.000530,0.000347,0.000262,0.000255,0.001544
서울특별시 종로구 청운효자동(1111051500),0.005073,0.006072,0.005534,0.007533,0.007533,0.007225,0.008301,0.008378,0.008839,0.007302,...,0.000692,0.000615,0.001076,0.000461,0.000538,0.000692,0.000307,0.000154,0.000154,0.001230

## 데이터 전처리 결과 저장

In [17]:
df_1.to_csv('age_1.csv')

### [추가] 행정구역을 행정구역명과 코드로 분리하고 저장하기

In [18]:
#index 제설정
df_1=df_1.reset_index()

In [19]:
df_1.head(3)

,행정구역,0세,1세,2세,3세,4세,5세,6세,7세,8세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상
0,서울특별시 (1100000000),0.005500,0.006100,0.006736,0.007239,0.007168,0.007062,0.007817,0.007548,0.007741,...,0.000737,0.000550,0.000407,0.000300,0.000288,0.000231,0.000160,0.000121,0.000090,0.000607
1,서울특별시 종로구 (1111000000),0.003879,0.004468,0.005069,0.005717,0.005573,0.005645,0.006692,0.005913,0.006620,...,0.001066,0.000863,0.000733,0.000517,0.000451,0.000530,0.000347,0.000262,0.000255,0.001544
2,서울특별시 종로구 청운효자동(1111051500),0.005073,0.006072,0.005534,0.007533,0.007533,0.007225,0.008301,0.008378,0.008839,...,0.000692,0.000615,0.001076,0.000461,0.000538,0.000692,0.000307,0.000154,0.000154,0.001230

In [21]:
#행정구역에서 지역과 코드 분리 (지역)
df_1['지역']=df_1['행정구역'].str.split('(').str[0].str.strip()

In [22]:
df_1.head(3)

,행정구역,0세,1세,2세,3세,4세,5세,6세,7세,8세,...,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상,지역
0,서울특별시 (1100000000),0.005500,0.006100,0.006736,0.007239,0.007168,0.007062,0.007817,0.007548,0.007741,...,0.000550,0.000407,0.000300,0.000288,0.000231,0.000160,0.000121,0.000090,0.000607,서울특별시
1,서울특별시 종로구 (1111000000),0.003879,0.004468,0.005069,0.005717,0.005573,0.005645,0.006692,0.005913,0.006620,...,0.000863,0.000733,0.000517,0.000451,0.000530,0.000347,0.000262,0.000255,0.001544,서울특별시 종로구
2,서울특별시 종로구 청운효자동(1111051500),0.005073,0.006072,0.005534,0.007533,0.007533,0.007225,0.008301,0.008378,0.008839,...,0.000615,0.001076,0.000461,0.000538,0.000692,0.000307,0.000154,0.000154,0.001230,서울특별시 종로구 청운효자동

In [23]:
#행정구역에서 지역과 코드 분리 (행정구역 코드)
df_1['행정구역코드']=df_1['행정구역'].str.split('(').str[1].str[:-1]
df_1.head(3)

,행정구역,0세,1세,2세,3세,4세,5세,6세,7세,8세,...,93세,94세,95세,96세,97세,98세,99세,100세 이상,지역,행정구역코드
0,서울특별시 (1100000000),0.005500,0.006100,0.006736,0.007239,0.007168,0.007062,0.007817,0.007548,0.007741,...,0.000407,0.000300,0.000288,0.000231,0.000160,0.000121,0.000090,0.000607,서울특별시,1100000000
1,서울특별시 종로구 (1111000000),0.003879,0.004468,0.005069,0.005717,0.005573,0.005645,0.006692,0.005913,0.006620,...,0.000733,0.000517,0.000451,0.000530,0.000347,0.000262,0.000255,0.001544,서울특별시 종로구,1111000000
2,서울특별시 종로구 청운효자동(1111051500),0.005073,0.006072,0.005534,0.007533,0.007533,0.007225,0.008301,0.008378,0.008839,...,0.001076,0.000461,0.000538,0.000692,0.000307,0.000154,0.000154,0.001230,서울특별시 종로구 청운효자동,1111051500

In [24]:
# '지역'을 index로 설정하고 저장하기
df_1=df_1.set_index('지역')
df_1.head(3)

,행정구역,0세,1세,2세,3세,4세,5세,6세,7세,8세,...,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상,행정구역코드
지역,,,,,,,,,,,,,,,,,,,,,
서울특별시,서울특별시 (1100000000),0.005500,0.006100,0.006736,0.007239,0.007168,0.007062,0.007817,0.007548,0.007741,...,0.000550,0.000407,0.000300,0.000288,0.000231,0.000160,0.000121,0.000090,0.000607,1100000000
서울특별시 종로구,서울특별시 종로구 (1111000000),0.003879,0.004468,0.005069,0.005717,0.005573,0.005645,0.006692,0.005913,0.006620,...,0.000863,0.000733,0.000517,0.000451,0.000530,0.000347,0.000262,0.000255,0.001544,1111000000
서울특별시 종로구 청운효자동,서울특별시 종로구 청운효자동(1111051500),0.005073,0.006072,0.005534,0.007533,0.007533,0.007225,0.008301,0.008378,0.008839,...,0.000615,0.001076,0.000461,0.000538,0.000692,0.000307,0.000154,0.000154,0.001230,1111051500

In [25]:
#행정구역 삭제
df_1=df_1.iloc[:,1:]

In [26]:
#age_2.csv로 저장
df_1.to_csv('age_2.csv', encoding='cp949')